form, section {
  margin-top: 10px;
}
label {
  display: block;
  display:inline-block;
  width: 80px;
}

button, input[type=submit] {
  height: 30px;
  width: 100px;
  background-color: lightblue;
}

button {
  height: 30px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: lightblue;
}

#nav li {
  display: inline
}

#home{
  height: 320px;
  border: 3px solid red;
}

#wizards{
  height: 320px;
  border: 3px solid green;
}

#search{
  height: 320px;
  border: 3px solid blue;
}

#result{
  position: absolute;
  background-color: lightyellow;
  width: 500px;
  max-height: 312px;
  overflow: auto;
}

#compendiumDetail{
  height: 320px;
  border: 3px solid purple;
}

#create{
  height: 320px;
  border: 3px solid yellow;
}

#edit{
  height: 320px;
  border: 3px solid orange;
}

#detail,
#create,
#edit {
  /* display: none; */
}