form, section {
  margin-top: 10px;
}
label {
  display: block;
  display:inline-block;
  width: 80px;
}

button, input[type=submit] {
  height: 30px;
  width: 100px;
  background-color: lightblue;
}

button {
  height: 30px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: lightblue;
}

#nav li {
  display: inline
}

#home{
  height: 320px;
  border: 3px solid red;
}

#compendiumOfSpells{
  height: 320px;
  border: 3px solid Blue;
}

#spellList{
  position: absolute;
  background-color: lightyellow;
  width: 500px;
  max-height: 312px;
  overflow: auto;
}

#compendiumDetail{
  height: 320px;
  border: 3px solid purple;
}

#spellDetails{
  position: absolute;
  background-color: lightblue;
  width: 500px;
  max-height: 312px;
  overflow: auto;
}

#wizards{
  position: relative;
  height: 320px;
  border: 3px solid green;
}

#allWizards{
  position: absolute;
  background-color: lightgreen;
  width: 500px;
  max-height: 282px;
  overflow: auto;
}

.viewCreateWizard{
  position: absolute;
  left: 150px;
  bottom: 0px;
}

#wizardDetail{
  height: 320px;
  border: 3px solid brown;
}

#createWizard{
  height: 320px;
  border: 3px solid yellow;
}

#edit-wizard{
  height: 320px;
  border: 3px solid darkorange;
}

#spell-book-section{
  height: 320px;
  border: 3px solid fuchsia;
}

#spell-book{
  position: absolute;
  background-color: mistyrose;
  width: 500px;
  max-height: 312px;
  overflow: auto;
}

#detail,
#create,
#edit {
  /* display: none; */
}