form, section {
  margin-top: 10px;
}

body{
  font-family: 'Aclonica', 'Arial', san-serif;
  font-size: 16px;
  background-image: url('./images/fireballs2.png'), url('./images/texture5.png');
  background-repeat: repeat;
}

label {
  display: block;
  display:inline-block;
  width: 80px;
}

#logo {
  content: url('./images/Logo.png');
}

#nav-bar {
  background-image: url('./images/leather.jpg')
}

.nav-bar-buttons{
  margin: 0 auto;
}

/*Buttons:*/

.viewHome{
  border: none;
  background-color: Transparent;
  height: 78px;
  width: 154px;
  background-image: url('./images/Home button.png');
  background-repeat: no-repeat;
}

.viewWizards{
  border: none;
  background-color: Transparent;
  height: 84px;
  width: 198px;
  background-image: url('./images/Wizards button.png');
  background-repeat: no-repeat;
}

.viewSpellSearch{
  height: 72px;
  width: 145px;
  background-image: url('./images/Spells button.png');
  background-size: auto;
}

.viewCreateWizard{
  height: 67px;
  width: 260px;
  background-image: url('./images/New wizard button.png');
  background-repeat: no-repeat;
}

.createWizardNow{
  height: 69px;
  width: 130px;
  background-image: url('./images/Create button.png');
  background-repeat: no-repeat;
}

/*End Buttons:*/

#fine-print{
  font-size: 8px;
}

#WizOfCoastStuff{
  position: absolute;
  width: 300px;
  height: 225px;
  right: 10px;
  bottom: 20px;  
}

#nav li {
  display: inline
}

#home{
  position: relative;
  height: 540px;
  border: 3px solid grey;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url('./images/paper.jpg');
}

#compendiumOfSpells{
  height: 540px;
  border: 3px solid grey;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url('./images/paper.jpg');
}

#spellList{
  position: absolute;
  width: 90%;
  max-height: 535px;
  overflow: auto;
  column-count: 3;
}

#compendiumDetail{
  height: 540px;
  width: 90%;
  margin: 0 auto;
  border: 3px solid grey;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url('./images/paper.jpg');
}

#spell-book-detail{
  height: 540px;
  width: 90%;
  margin: 0 auto;
  border: 3px solid grey;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url('./images/paper.jpg');
}

#spellDetails{
  margin: 0 auto;
  width: 85%;
  max-height: 535px;
  overflow: auto;
}

#wizards{
  position: relative;
  height: 540px;
  border: 3px solid grey;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url('./images/paper.jpg');
}

#allWizards{
  position: absolute;
  width: 95%;
  max-height: 454px;
  overflow: auto;
}

.viewCreateWizard{
  position: absolute;
  left: 150px;
  bottom: 0px;
}

#wizardDetail{
  height: 540px;
  border: 3px solid grey;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url('./images/paper.jpg');
}

#wizardDetails{
  position: absolute;
  width: 85%;
  height: 535px;
}

#createWizard{
  height: 540px;
  border: 3px solid grey;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url('./images/paper.jpg');
}

#edit-wizard{
  height: 540px;
  border: 3px solid grey;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url('./images/paper.jpg');
}

#spell-book-section{
  height: 540px;
  border: 3px solid grey;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url('./images/paper.jpg');
}

#spell-book{
  position: absolute;
  width: 95%;
  max-height: 454px;
  overflow: auto;
}

#detail,
#create,
#edit {
  /* display: none; */
}